.home {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 100px;
  margin-top: 20px;

  .left-grid {
    position: relative;
    img {
      height: 600px;
      width: 100%;
    }
    .heading-container {
      position: relative;
      left: 30px;
      .heading {
        bottom: 100px;
        position: absolute;
        color: #fff;
        font-family: "Lato";
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
      }
      .author {
        position: absolute;
        bottom: 60px;
        color: #fff;
        font-size: 12px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
      }
      .title {
        position: absolute;
        bottom: 25px;
        color: #fff;
        font-size: 12px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
      }
    }
  }
}

.banner-overview {
  margin-top: -60px;
}

.shortcut-overview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 300px;
  height: fit-content;
  gap: 20px;
  // background: linear-gradient(#000, #000) center/2px 80% no-repeat;

  .shortcut:last-child {
    border: none;
  }
}

.popular-overview {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 100px;
  // row-gap: 50px;
}
