.footer {
  height: 418px;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-content {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .grid-item {
      //   margin: 40px 0;
      height: fit-content;
      h2 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
      }
      a {
        display: block;
        margin: 20px 0;
        color: #fff;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
      }
      div {
        display: flex;
        align-items: center;
        a {
          margin-right: 10px;
        }
        a:not(:first-child) {
          margin: 10px 10px;
        }
      }
    }
  }
}
